/* Enter your custom CSS here */
    
* {
  font-family: "Verdana", sans-serif;
  color: #666666;
}
h1 {
  padding-top: 24px;
  padding-bottom: 21px;
  font-size: 48px;
}
h2 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 24px; 
  color: #f07c17;
  font-weight: bold;
}

.features {
  margin-top: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  }
body {
  font-size: 16px;
  line-height: 32px;
}
